.row {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 2px solid var(--medium-gray);
  font-size: 0.9em;
  align-items: center;
}

.row:last-child {
  border-bottom: 0;
}

.row .link,
.row .age,
.row .likes {
  display: none;
}

.row .-w-icon {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.row .-w-icon .material-icons {
  font-size: 15px;
  margin: 0 5px 0 0;
}

.row .comments {
  color: var(--yellow);
}

.row .date {
  color: var(--light-blue);
}
.row .date span {
  padding-top: 3px;
}

.row .score {
  margin: calc(var(--half-margin) / 2) 0 calc(var(--half-margin) / 2) 0;
}
.row .subreddit {
  color: var(--magenta);
  display: block;
}
.row .title {
  width: 100%;
  margin: 0 0 var(--half-margin) 0;
  display: block;
}

.row .user {
  color: var(--dark-blue);
}

.row .score-container {
  width: var(--side-width);
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.row .info-container {
  width: 100%;
  padding: var(--half-margin);
  display: flex;
  color: var(--white);
  text-decoration: none;
  font-size: 1em;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: var(--half-margin);
  border-left: 2px solid var(--medium-gray);
}

.row .main-info-container {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
}

.row .additional-info-container {
  display: flex;
  flex-flow: row wrap;
  font-size: 0.9em;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  line-height: 1.6em;
  font-size: 0.8em;
}

.row .additional-info-container > *:not(:last-child) {
  margin-right: var(--margin);
}

.row .additional-info-container:last-child {
  margin-right: 0;
}

.row .arrow.up {
  border-bottom-color: var(--medium-gray);
}

.row .arrow.down {
  border-top-color: var(--medium-gray);
}
